@model List<AcademyPortal.Handler.Item>
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademyPortal</title>
    <link rel="stylesheet" href="~/Html/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Html//css/style.css">
    <link rel="stylesheet" href="~/Html//fontawesome-free-6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="btn-create">
            <button class="btn btn-primary color-btn" data-bs-toggle="modal" href="#CreateModel" role="button">+ Create</button>
        </div>
        <div class="background-">
            @foreach (var item in Model)
            {
                <div class="content">
                    <label style="color: whitesmoke;" for="">@item.UserName</label>
                    <button class="content-btn content-btn-edit" data-bs-toggle="modal" href="#UpdateModel">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="content-btn content-btn-trash">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            }
        </div>
        <!-- Create -->
        <div class="modal fade " id="CreateModel" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-close br-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="~/Permission/Index" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="UserName" class="form-label">Name:</label>
                                <input type="text" class="form-control" name="UserName">
                            </div>
                        </div>
                        <di class="modal-footer">
                            <button type="submit" class="btn btn-success color-btn"> Create</button>
                        </di>
                    </form>
                </div>
            </div>
        </div>
        <!-- Update -->
        <div class="modal fade " id="UpdateModel" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-close br-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="~/Permission/Index" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="UserName" class="form-label">Name:</label>
                                <input type="text" class="form-control" name="UserName">
                            </div>
                        </div>
                        <di class="modal-footer">
                            <button type="submit" class="btn btn-success color-btn"> Update</button>
                        </di>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Html//bootstrap/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>
</html>